.image-div {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(140.91deg, #fff 17.18%, rgba(206, 206, 206, 0));
  width: 918px;
  height: 1080px;
}

.username-label {
  cursor: text;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #575757;
  text-align: left;
  display: inline-block;
}

.username-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 22px;
  width: 465px;
  height: 56px;
}

.forgot-password,
.password-label,
.remember-me-div {
  position: absolute;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: left;
  display: inline-block;
}

.password-label {
  cursor: pointer;
  top: 105px;
  left: 0;
  font-weight: 600;
  color: #575757;
}

.forgot-password,
.remember-me-div {
  top: 199px;
}

.forgot-password {
  text-decoration: none;
  left: 298px;
  color: #b1000e;
  cursor: pointer;
}

.remember-me-div {
  left: 31px;
  font-weight: 600;
  color: #575757;
}

.signin-button,
.password-input1 {
  left: 0;
  border-radius: 10px;
  width: 465px;
}

.password-input1 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  font-size: 22px;
  top: 135px;
  box-sizing: border-box;
  height: 56px;
}

.signin-button {
  border: 0;
  padding: 0;
  background-color: #575757;
  top: 273px;
  height: 72px;
}

.checkbox-input,
.signin-button,
.sign-in-label {
  cursor: pointer;
  position: absolute;
}

.sign-in-label {
  top: 288px;
  left: 186px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Helvetica";
  color: #fff;
  text-align: left;
  display: inline-block;
}

.checkbox-input {
  top: 201px;
  left: 0;
  border-radius: 21px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1.7)
}

.group-form {
  position: absolute;
  top: 407px;
  left: 1189px;
  width: 468px;
  height: 345px;

}

.hit-logo {
  position: absolute;
  top: 169px;
  left: 1280px;
  width: 302px;
  height: 108px;
  object-fit: cover;
}

.person-img {
  position: absolute;
  top: 297px;
  left: 71px;
  width: 758.67px;
  height: 615.33px;
  overflow: hidden;
}

.line-div {
  position: absolute;
  top: 367.5px;
  left: 959.5px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 1px;
  height: 446px;
}

.hisys-p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.vendor-portal {
  margin: 0;
  font-size: 32px;
  font-family: Roboto;
}

.hisys-vendor-portal {
  position: absolute;
  top: 150px;
  left: 298px;
  display: inline-block;
  width: 305px;
}

.login-page-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 64px;
  color: #333;
  font-family: Goldman;
}