* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f3f6;

}

.img1 {
  height: 70px;

}

.nav {
  background-color: #B1000E;
  display: flex;
  color: white;
  justify-content: space-between;
 
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  gap: 3rem;
}

.nav ul {

  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 22px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .30rem;
  

}



.nav li:hover {
  background-color: #cf0112;
  

}

.nav li:active {
  color: pink;
}