.company-name-label {

  position: absolute;
  top: 475px;
  left: 827px;
  font-weight: 600;
  display: inline-block;
}

.companyname-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  top: 505px;
  left: 827px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 22px;
  width: 465px;
  height: 56px;
}

.phone-number-label {

  position: absolute;
  top: 593px;
  left: 827px;
  font-weight: 600;
  display: inline-block;
}

.phone-input1 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  top: 623px;
  left: 827px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 465px;
  height: 56px;
  padding: 20px;
}

.contact-person-label,
.signup-button {
  cursor: pointer;
  position: absolute;
  left: 1343px;
}

.signup-button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0;
  background-color: #575757;
  top: 755px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
}

.contact-person-label {
  top: 475px;
  font-weight: 600;
  display: inline-block;
}

.contact-input2 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  top: 505px;
  left: 1343px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 465px;
  height: 56px;
}

.email-id-label {
  cursor: pointer;
  position: absolute;
  top: 593px;
  left: 1343px;
  font-weight: 600;
  display: inline-block;
}

.email-input3 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  top: 623px;
  left: 1343px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 465px;
  height: 56px;
}

.hitachi-logo {
  position: absolute;
  top: 128px;
  left: 1166px;
  width: 302px;
  height: 108px;
  object-fit: cover;
}

.request-for-provisional-login {
  position: absolute;
  top: 767px;
  left: 1400px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

.signup-img {
  position: absolute;
  top: 437px;
  left: 76px;
  width: 701px;
  height: 446px;
  overflow: hidden;
}

.new-registration-label {

  position: absolute;
  top: 355px;
  left: 1188px;
  font-size: 32px;
  font-weight: 600;
  color: #000;
  display: inline-block;
}

.sign-up-page {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #575757;
  font-family: "Open Sans";
}